<div class="row">
    <div class="col">
        <div>
            <div class="form-group">
                <label for="previousPassword">Votre ancien mot de passe</label>
                <input type="password" [formControl]="passwordFormControl" name="password" id="password" required minlength="8" maxlength="16">
                <app-generic-error *ngIf="passwordFormControl != null"
                        [fc]="passwordFormControl"
                        [fieldName]="'password'"
                        [required]="true" [minLength]="8" [maxLength]="16">
                </app-generic-error>
            </div>
            <div class="form-group">
                <label for="newPassword">Votre nouveau mot de passe</label>
                <input type="password" [formControl]="newPasswordFormControl" name="password" id="password" required minlength="8" maxlength="16">
                <app-generic-error *ngIf="newPasswordFormControl != null"
                        [fc]="newPasswordFormControl"
                        [fieldName]="'new password'"
                        [required]="true" [minLength]="8" [maxLength]="16">
                </app-generic-error>
            </div>
            <p>Votre mot de passe vous permettra de gérer vos rendez-vous médicaux</p>
            <button class="btn btn-primary" (click)="updatePassword()" [disabled]="!passwordFormControl.valid || !newPasswordFormControl.valid">
                MODIFIER
            </button>
        </div>
    </div>
</div>
