<nav class="navbar navbar-expand-md navbar-light bg-primary">
  <a class="navbar-brand" routerLink="/patient/search">StayHealthy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pr-25" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/patient/search">Accueil <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/patient/appointment">Mes rendez-vous <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          user name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/patient/profile">Mon compte</a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item" (click)="logout()">Se deconnecter</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
